@use './variables'

@mixin space-between()
    display: flex
    align-items: center
    justify-content: space-between
@mixin center()
    display: flex
    justify-content: center
    align-items: center
@mixin dark()
    background: variables.$darkmode_bg
    color: variables.$darkmode_text
    min-height: 100vh
    width: 100%
@mixin light()
    background: variables.$lightmode_bg
    color: variables.$lightmode_text
    min-height: 100vh
    width: 100%
