@use '../../sass/mixins'
@use '../../sass/variables'
.detailDark
    @include mixins.dark()
    padding: 3rem 6rem
    @media (max-width: 1200px)
        padding: 2rem 1rem
    & a
        background: variables.$darkmode_elements
        color: variables.$darkmode_text
        @include mixins.center
        width: fit-content
        padding: .6rem 1.4rem
        border-radius: variables.$border-radius
        gap: .5rem
        letter-spacing: .1rem
        font-weight: 600
.detailLight
    @include mixins.light()
    padding: 3rem 6rem
    @media (max-width: 1200px)
        padding: 2rem 1rem
    & a
        background: variables.$lightmode_elements
        color: variables.$lightmode_text
        @include mixins.center
        width: fit-content
        font-weight: 600
        padding: .6rem 1.4rem
        border-radius: variables.$border-radius
        gap: .5rem
        letter-spacing: .1rem
