@use '../../sass/variables'

.dark
    background: variables.$darkmode_bg
    color: variables.$darkmode_text
    min-height: 100vh
.light
    background: variables.$lightmode_bg
    color: variables.$lightmode_text
    min-height: 100vh
